
@model List<_01_Query.Contract.JobExperience.JobExperienceQueryModel>

<div class="lonon-lonon-timeline">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <span class="heading-meta style-1">سابقه کاری و شغلی</span>
                <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">سوابق شغلی من</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                <ul class="lonon-timeline">
                   @foreach (var item in Model)
                   {
                       <li>
                           <div class="lonon-timeline-content">
                               <span class="lonon-timeline-date">@item.WorkDate</span>
                               <h5></h5>
                               <h5 spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="11" medium-editor-index="ad239007-3c18-2fc2-9705-b8b6bfbc3ab0" data-placeholder="Type your text" data-medium-focused="true">@item.JobPosition</h5>
                               <h4>@item.CompanyName</h4>
                               <p class="text-justify">@item.Description</p>
                           </div>
                       </li>
                   }
                </ul>
            </div>
        </div>
    </div>
</div>