
<div class="lonon-lonon-timeline">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <span class="heading-meta style-1">در واقعیت شغلی</span>
                <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">سوابق شغلی من</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                <ul class="lonon-timeline">
                    <li>
                        <div class="lonon-timeline-content">
                            <span class="lonon-timeline-date">از ۱۳۹۵ تا حالا</span>
                            <h5></h5><h5 spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="11" medium-editor-index="ad239007-3c18-2fc2-9705-b8b6bfbc3ab0" data-placeholder="Type your text" data-medium-focused="true">دورکاری</h5>
                            <h4>برنامه نویس وب&nbsp;</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز.</p>
                        </div>
                    </li>
                    <li>
                        <div class="lonon-timeline-content">
                            <span class="lonon-timeline-date">1395-1396</span>
                            <h5>دورکاری</h5>
                            <h4></h4><h4 spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="9" medium-editor-index="fa4311ec-c072-6d42-c695-bc04545900df" data-placeholder="Type your text" data-medium-focused="true">برنامه نویس وب&nbsp;</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>