@model IEnumerable<Client>

<div class="content clients">
    <div class="row">
        <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">

            <!-- title -->
            <div class="title">مشتریان من</div>

        </div>
    </div>

    <!-- client items -->
    <div class="row client-items">

       @foreach (var item in Model)
       {
           <!-- client item -->
           <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
               <div class="client-item card-box">
                   <div class="image" title="@item.ClientTitle">
                       <a target="_blank" href="#">
                           <img src="~/images/clients/@item.ClientLogo" alt=""/>
                       </a>
                   </div>
               </div>
           </div>
       }



    </div>

</div>
