@model InnerTop


<div class="content inner-top">
    <div class="row">
        <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
            <div class="title-bg">درباره من</div>
            <div class="text">
                <p>
                    <strong>وب سایت شخصی </strong> @Model.OwnerName<br/><br/>
                    @Model.OwnerDescription <br/>
                    
                    <strong>
                         <br/>
                       @Model.OwnerDescription2
                    </strong>
                </p>
            </div>
            <div class="circle-bts">
                <a asp-controller="Home" asp-action="Resume">
                    <span><i class="icon la la-download"></i>دانلود رزومه من</span>
                </a>
                <a asp-controller="Home" asp-action="RecommendationLetter">
                    <span><i class="icon la la-download"></i>دانلود تشویق نامه ها</span>
                </a>
                <a href="https://github.com/NavidGhavami" title="NavidGhavami">
                    <i class="icon la la-github"></i>
                </a>
                <a href="https://www.instagram.com/navid.ghavami/" title="navid.ghavami">
                    <i class="icon la la-instagram"></i>
                </a>
                <a href="https://gmail.com/navid.ghavami1994" title="navid_ghavami@outlook.com">
                    <i class="icon la la-google"></i>
                </a>
            </div>
        </div>
    </div>

</div>