@model InnerTop


<div class="content inner-top">
    <div class="row">
        <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
            <div class="title-bg">درباره من</div>
            <div class="text">
                <p>
                    <strong>وب سایت شخصی </strong> @Model.OwnerName<br/>
                    @Model.OwnerDescription <br/>
                    
                    <strong>
                         <br/>
                       @Model.OwnerDescription2
                    </strong>
                </p>
            </div>
            <div class="circle-bts">
                <a href="/files/cv.rar">
                    <span><i class="icon la la-download"></i>دانلود رزومه من</span>
                </a>
                <a href="https://github.com/NavidGhavami">
                    <i class="icon la la-github"></i>
                </a>
                <a href="https://www.instagram.com/navid.ghavami/">
                    <i class="icon la la-instagram"></i>
                </a>
                <a href="https://gmail.com/navid.ghavami1994">
                    <i class="icon la la-google"></i>
                </a>
            </div>
        </div>
    </div>

</div>