@model IEnumerable<Projects>

<!-- work items -->
<div class="row grid-items">

    @foreach (var item in Model)
    {
        <!-- work item photo -->
        <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6 grid-item photo">
            <div class="box-item card-box">
                <div class="image">
                    <a href="~/images/works/@item.ProjectImage" class="has-popup-image">
                        <img src="~/images/works/@item.ProjectImage" alt="@item.ProjectImage"/>
                        <span class="info">
                            <span class="icon la la-camera-retro"></span>
                        </span>
                    </a>
                </div>
                <div class="desc">
                    <a href="~/images/works/@item.ProjectImage" class="name has-popup-image">@item.ProjectCompany</a>
                    <div class="category">@item.ProjectCategory</div>
                </div>
            </div>
        </div>
    }



</div>

