@using System.Collections

@{
    ViewData["Title"] = "درباره من";
}


<div class="row card-container" >
<!--
Card Wrap
-->
<div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>

<!-- About Image -->
<div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6">
    <img  class="full-max-width"  src="~/images/Navid.jpg"/>
</div>

<!--
Inner Top
-->

@await Component.InvokeAsync("InnerTop")

<!--
Services
-->

@await Component.InvokeAsync("Service")


<!--
Price Tables
-->
@await Component.InvokeAsync("PriceTable")

<!--
Ability
-->
@await Component.InvokeAsync("Ability")

<!--
Clients
-->
@await Component.InvokeAsync("Client")

</div>
</div>
