@using System.Collections

@{
    ViewData["Title"] = "درباره من";
}


<div class="row card-container" >
<!--
Card Wrap
-->
<div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>

<!-- About Image -->
<div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6">
    <img style="width: 100%; height: 100%" src="~/images/Navid.jpg"/>
</div>

<!--
Inner Top
-->

@await Component.InvokeAsync("InnerTop")

<!--
Services
-->
<div class="content services">
    <div class="row">
        <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">

            <!-- title -->
            <div class="title"><span>خدمات</span> من</div>

        </div>
    </div>

    <!-- service items -->
    <div class="row service-items">

        <!-- service item -->
        <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
            <div class="service-item card-box">
                <div class="icon">
                    <i class="la la-html5"></i>
                </div>
                <div class="name">طراحی وب سایت</div>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                </p>
            </div>
        </div>

        <!-- service item -->
        <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
            <div class="service-item card-box">
                <div class="icon">
                    <i class="la la-music"></i>
                </div>
                <div class="name">آهنگ سازی</div>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                </p>
            </div>
        </div>

        <!-- service item -->
        <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
            <div class="service-item card-box">
                <div class="icon">
                    <i class="la la-bullhorn"></i>
                </div>
                <div class="name">اخبار و اعلان</div>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                </p>
            </div>
        </div>

        <!-- service item -->
        <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
            <div class="service-item card-box">
                <div class="icon">
                    <i class="la la-gamepad"></i>
                </div>
                <div class="name">گیم پد</div>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                </p>
            </div>
        </div>

        <!-- service item -->
        <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
            <div class="service-item card-box">
                <div class="icon">
                    <i class="la la-area-chart"></i>
                </div>
                <div class="name">آنالیزر</div>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                </p>
            </div>
        </div>

        <!-- service item -->
        <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
            <div class="service-item card-box">
                <div class="icon">
                    <i class="la la-camera-retro"></i>
                </div>
                <div class="name">عکاسی</div>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                </p>
            </div>
        </div>

    </div>

</div>


<!--
Price Tables
-->
<div class="content pricing">
    <div class="row">
        <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">

            <!-- title -->
            <div class="title"><span>پلن های</span> طراحی وبسایت</div>

        </div>
    </div>

    <!-- pricing items -->
    <div class="row pricing-items">

        <!-- pricing item -->
        <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
            <div class="pricing-item card-box">
                <div class="icon">
                    <i class="la la-tachometer"></i>
                </div>
                <div class="name">آماده</div>
                <div class="amount">
                    <span class="dollar">هزار</span> <span class="number">70</span> <span class="period">تومان</span>
                </div>
                <div class="feature-list">
                    <ul>
                        <li>معرفی برنامه نویس</li>
                        <li>تولید فروشگاه یا پرتال اختصاصی</li>
                        <li>ارتباط با سامانه ایمیلی و بانک اطلاعاتی</li>
                        <li class="disable">قابلیت پرداخت آنلاین</li>
                        <li class="disable">آموزش حضوری <strong>جدید</strong></li>
                    </ul>
                </div>
                <div class="lnks">
                    <a href="#" class="lnk">خرید <span>پلن آماده</span></a>
                </div>
            </div>
        </div>

        <!-- pricing item -->
        <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
            <div class="pricing-item card-box">
                <div class="icon">
                    <i class="la la-rocket"></i>
                </div>
                <div class="name"> اختصاصی</div>
                <div class="amount">
                    <span class="dollar">هزار</span> <span class="number">100</span> <span class="period">تومان</span>
                </div>
                <div class="feature-list">
                    <ul>
                        <li>کلیه موارد اعلامی در np2 </li>
                        <li>معرفی برنامه نویس</li>
                        <li>معرفی تیم اجرائی و مدیر پروژه</li>
                        <li>تولید فروشگاه یا پرتال اختصاصی</li>
                        <li>پشتیبانی سالانه کلی پروژه</li>
                        <li>قابلیت پرداخت آنلاین</li>
                        <li>آموزش حضوری <strong>الجديد</strong></li>
                    </ul>
                </div>
                <div class="lnks">
                    <a href="#" class="lnk">خرید <span>پلن اختصاصی</span></a>
                </div>
            </div>
        </div>

    </div>

</div>

<!--
Fun Fact
-->
<div class="content fuct">
    <div class="row">
        <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">

            <!-- title -->
            <div class="title"><span>مهارت</span> پروژه</div>

        </div>
    </div>

    <!-- fuct items -->
    <div class="row fuct-items">

        <!-- fuct item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="fuct-item card-box">
                <div class="icon">
                    <i class="la la-headphones"></i>
                </div>
                <div class="name">موزیک پلیر</div>
            </div>
        </div>

        <!-- fuct item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="fuct-item card-box">
                <div class="icon">
                    <i class="la la-trophy"></i>
                </div>
                <div class="name">جوایز ویژه</div>
            </div>
        </div>

        <!-- fuct item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="fuct-item card-box">
                <div class="icon">
                    <i class="la la-lightbulb-o"></i>
                </div>
                <div class="name">طراحی ایده ها</div>
            </div>
        </div>

        <!-- fuct item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="fuct-item card-box">
                <div class="icon">
                    <i class="la la-flag-o"></i>
                </div>
                <div class="name">اجرای برنامه ها</div>
            </div>
        </div>

        <!-- fuct item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="fuct-item card-box">
                <div class="icon">
                    <i class="la la-book"></i>
                </div>
                <div class="name">آموزشگاه اختصاصی</div>
            </div>
        </div>

        <!-- fuct item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="fuct-item card-box">
                <div class="icon">
                    <i class="la la-code"></i>
                </div>
                <div class="name">برنامه نویسی حرفه ای</div>
            </div>
        </div>

        <!-- fuct item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="fuct-item card-box">
                <div class="icon">
                    <i class="la la-smile-o"></i>
                </div>
                <div class="name">گرافیک اختصاصی</div>
            </div>
        </div>

        <!-- fuct item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="fuct-item card-box">
                <div class="icon">
                    <i class="la la-bicycle"></i>
                </div>
                <div class="name">تحویل فوری </div>
            </div>
        </div>

    </div>

</div>

<!--
Clients
-->
<div class="content clients">
    <div class="row">
        <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">

            <!-- title -->
            <div class="title">مشتریان من</div>

        </div>
    </div>

    <!-- client items -->
    <div class="row client-items">

        <!-- client item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="client-item card-box">
                <div class="image">
                    <a target="_blank" href="https://www.google.com">
                        <img src="~/images/clients/client_1.png" alt=""/>
                    </a>
                </div>
            </div>
        </div>

        <!-- client item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="client-item card-box">
                <div class="image">
                    <a target="_blank" href="https://www.google.com">
                        <img src="~/images/clients/client_3.png" alt=""/>
                    </a>
                </div>
            </div>
        </div>

        <!-- client item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="client-item card-box">
                <div class="image">
                    <a target="_blank" href="https://www.google.com">
                        <img src="~/images/clients/client_4.png" alt=""/>
                    </a>
                </div>
            </div>
        </div>

        <!-- client item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="client-item card-box">
                <div class="image">
                    <a target="_blank" href="https://www.google.com">
                        <img src="~/images/clients/client_1.png" alt=""/>
                    </a>
                </div>
            </div>
        </div>

        <!-- client item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="client-item card-box">
                <div class="image">
                    <a target="_blank" href="https://www.google.com">
                        <img src="~/images/clients/client_3.png" alt=""/>
                    </a>
                </div>
            </div>
        </div>

        <!-- client item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="client-item card-box">
                <div class="image">
                    <a target="_blank" href="https://www.google.com">
                        <img src="~/images/clients/client_4.png" alt=""/>
                    </a>
                </div>
            </div>
        </div>

        <!-- client item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="client-item card-box">
                <div class="image">
                    <a target="_blank" href="https://www.google.com">
                        <img src="~/images/clients/client_1.png" alt=""/>
                    </a>
                </div>
            </div>
        </div>

        <!-- client item -->
        <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
            <div class="client-item card-box">
                <div class="image">
                    <a target="_blank" href="https://www.google.com">
                        <img src="~/images/clients/client_3.png" alt=""/>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

</div>
</div>
