
@{
    ViewData["Title"] = "آخرین مقالات من";
}

 <div class="row card-container">

        <!--
        Card Wrap
        -->
        <div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>

            <!-- Blog Image -->
            <div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6">
                <img  class="full-max-width"  src="~/images/Navid2.jpg"/>
            </div>

            <!--
            Inner Top
            -->
            <div class="content inner-top">
                <div class="row">
                    <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                        <div class="title-bg">مقالات</div>
                    </div>
                </div>
            </div>

            <!--
            Blog
            -->
            <div class="content blog">
                <div class="row">
                    <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">

                        <!-- title -->
                        <div class="title"><span>آخرین مقالات</span> من</div>

                    </div>
                </div>

                <!-- blog items -->
                <div class="row">

                    @await Component.InvokeAsync("Article")



                </div>

            </div>

        </div>
    </div>

