@{
    ViewData["Title"] = "وب سایت شخصی";
}

<!-- Started Background -->

<div id="particles-bg" class=" slide">
    <img src="~/images/bgMain1.jpg"/>
</div>

<div class="centrize full-width">
    <div class="vertical-center">

        <!-- Started titles -->
        <div class="title"><span>نوید </span> قوامی</div>
        <div class="subtitle">
            من
            <div class="typing-title">
                <p>یک <strong>برنامه نویس و دولوپر وب سایت هستم.</strong></p>
                <p>یک <strong>طراح و دیزاینر وب سایت هستم.</strong></p>
                <p>یک <strong>مشاور پروژه هستم.</strong></p>
                <p>یک <strong>سئوکار وبسایت هستم.</strong></p>
            </div>
            <span class="typed-title"></span>
        </div>

    </div>
</div>
