@{
    ViewData["Title"] = "وب سایت شخصی";
}

<!-- Started Background -->
<div id="particles-bg" class="slide">
    <img src="~/images/bg.jpg"/>
</div>

<div class="centrize full-width">
    <div class="vertical-center">

        <!-- Started titles -->
        <div class="title"><span>دانیال</span> خانی آبادی</div>
        <div class="subtitle">
            من
            <div class="typing-title">
                <p>یک <strong>طراح وب سایت هستم.</strong></p>
                <p>یک <strong>اسکریپتر هستم.</strong></p>
                <p>یک <strong>برنامه نویس هستم.</strong></p>
                <p>یک <strong>مدیر تبلیغات هستم.</strong></p>
            </div>
            <span class="typed-title"></span>
        </div>

    </div>
</div>