
<div class="lonon-lonon-timeline">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <span class="heading-meta style-1">سابقه توانایی ها</span>
                <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">تحصیلات من</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                <ul class="lonon-timeline">
                    <li>
                        <div class="lonon-timeline-content">
                            <span class="lonon-timeline-date">1382-1386</span>
                            <h5>دانشگاه تهران</h5>
                            <h4>مهندسی نرم افزار&nbsp;</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                        </div>
                    </li>
                    <li>
                        <div class="lonon-timeline-content">
                            <span class="lonon-timeline-date">1391-1393</span>
                            <h5>موسسه آفرینش</h5>
                            <h4>موسسه آزاد آفرینش</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>