@model PersonalInfoManagement.Application.Contract.EducationExperience.EditEducationExperience


@{
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ویرایش اطلاعات</h4>
</div>

<form asp-page="./Index" asp-page-handler="Edit"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="UniversityName" class="control-label">نام دانشگاه / موسسه</label>
                    <input type="text" class="form-control" asp-for="UniversityName">
                    <span asp-validation-for="UniversityName" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="EducationDegree" class="control-label">مدرک تحصیلی</label>
                    <input type="text" class="form-control" asp-for="EducationDegree">
                    <span asp-validation-for="EducationDegree" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="EducationCourse" class="control-label">رشته تحصیلی</label>
                    <input type="text" class="form-control" asp-for="EducationCourse">
                    <span asp-validation-for="EducationCourse" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="EducationDate" class="control-label">تاریخ تحصیل</label>
                    <input type="text" class="form-control" asp-for="EducationDate">
                    <span asp-validation-for="EducationDate" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Description" class="control-label">توضیحات</label>
                    <textarea class="form-control autogrow" asp-for="Description"
                              style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                    <span asp-validation-for="Description" class="error"></span>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-warning waves-effect waves-light">ویرایش اطلاعات</button>
    </div>
</form>
