
<div class="lonon-skills">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <span class="heading-meta style-1">مهارت ها</span>
                <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">مهارت های من</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 animate-box" data-animate-effect="fadeInLeft">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون&nbsp;</p>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
            </div>
            <div class="col-md-7 animate-box" data-animate-effect="fadeInLeft">
                <p class="bar-title">JavaScript<span class="percent align-right">90%</span></p>
                <div class="bar">
                    <div class="bar-fill bar-fill-developer start"></div>
                </div>
                <p class="bar-title">PHP<span class="percent align-right">80%</span></p>
                <div class="bar">
                    <div class="bar-fill bar-fill-photoshop start"></div>
                </div>
                <p class="bar-title">HTML / CSS<span class="percent align-right">95%</span></p>
                <div class="bar">
                    <div class="bar-fill bar-fill-webdesign start"></div>
                </div>
                <p class="bar-title">jQuery<span class="percent align-right">85%</span></p>
                <div class="bar">
                    <div class="bar-fill bar-fill-socialmedia start"></div>
                </div>
            </div>
        </div>
    </div>
</div>