@model IEnumerable<Articles>

@foreach (var item in Model)
{
    <!-- blog item -->
    <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
        <div class="box-item card-box">
            <div class="image">
                <a href="#">
                    <img src="~/images/blog/@item.ArticleImage">
                    <span class="info">
                        <span class="icon la la-newspaper-o"></span>
                    </span>
                    
                </a>
            </div>
            <div class="desc">
                <a class="name">@item.ArticleTitle </a>
                <div class="category">
                   دسته بندی:  @item.ArticleCategory |
                    <span class="">تاریخ: @item.CreateDate</span>
                </div>
            </div>
        </div>
    </div>
}