@page
@model ServiceHost.Pages.AccessDeniedModel


    @{
        ViewData["Title"] = "متاسفم!!!";
    }


    <div id="lonon-main">

        <div class="lonon-contact">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                        <h3 class="lonon-about-heading text-danger">صفحه 404</h3>
                        <h5>
                            متاسفم! دسترسی شما به این صفحه امکان پذیر نمی باشد
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div id="lonon-footer2">
            <div class="lonon-narrow-content">
                <div class="row">
                    <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                        <p class="lonon-lead text-justify">
                            استفاده از مطالب این سایت فقط برای مقاصد غیرتجاری و با ذکر منبع
                            بلامانع است. کلیه حقوق این سایت متعلق به نوید قوامی می‌باشد.
                        </p>
                    </div>
                    <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                        <h2 class="text-center">
                        </h2>
                    </div>
                    <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                        <a asp-page="/MyResume">
                            <h2 class="text-center">
                                درباره <strong class="text-warning">من</strong> بیشتر بدانید؟!
                            </h2>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>