@page
@model IndexModel
@{
    ViewData["Title"] = "به وب سایت شخصی نوید قوامی خوش آمدید";
}

<section class="container-fluid main-container container-home p-0 revealator-slideup revealator-once revealator-delay1">
    <div class="color-block d-none d-lg-block"></div>
    <div class="row home-details-container align-items-center">
        <div class="col-lg-4 bg position-fixed d-none d-lg-block"></div>
        <div class="col-12 col-lg-8 offset-lg-4 home-details text-left text-sm-center text-lg-left">
            <div>
                <img src="~/SiteTheme/assets/img/background.jpg" class="img-fluid main-img-mobile d-none d-sm-block d-lg-none" alt="وب سایت شخصی نوید قوامی" title="به وب سایت شخصی نوید قوامی خوش آمدید..."/>
                <h1 class="text-uppercase poppins-font">من نوید قوامی هستم<span>توسعه دهنده سایت</span></h1>
                <p class="open-sans-font">

                    بنده نوید قوامی هستم. برنامه نویس و توسعه دهنده وب می باشم. در این سایت می توانید رزومه بنده را مشاهده نمایید. همچنین برای سفارش و مشاوره برای کسب و کار اینترنتی خود می توانید با بنده در ارتباط باشید.
                   
                    <br /><br />

                    """ هر کسی می تواند کدی بنویسد که رایانه بتواند درک کند. برنامه نویسان خوب کدی می نویسند که بشر می تواند آن را درک کند """

                </p>
                <a class="button" asp-page="/MyResume">
                    <span class="button-text">درباره من بیشتر بدانید؟!</span>
                    <span class="button-icon fa fa-arrow-left"></span>
                </a>
            </div>
        </div>
    </div>
</section>

